#green {
  background-color: #79fc8b;
}
#pink {
  background-color: #f7b5f4;
}
#blue {
  background-color: #abd6ff;
}
.green-background {
  background-color: #79fc8b;
}
.pink-background {
  background-color: #ffe3fc;
}
.blue-background {
  background-color: #abd6ff;
}